html {
    font-size: 62.5%;
    font-family: Krub;
}

body {
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
}

.logoheader {
    position: relative;
    height: 15vh;
    min-height: 15vh;
}

.logo {
    background-color: rgb(9, 18, 67);
    color: #fff;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    min-height: 15vh;
}

#imglogo {
    width: 15vw;
    height: auto;
    min-width: 15vw;
    min-height: 3.5vh;
}

#addrsbar {
    height: auto;
    width: 40vw;
    padding-left: 20rem;
}

#banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#homebannerimage {
    width: 100%;
    height: 50vh;
    position: relative;
    background-image: url(About_page/homeimg-sec1-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.navigation {
    background: linear-gradient(90deg,
            rgba(9, 18, 67, 0.2),
            rgba(9, 18, 67, 0.1));
    height: 10vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20%;
    place-items: center;
    position: absolute;
    top: 15vh;
    min-width: 98.8vw;
    min-height: 10vh;
}


.navig {
    display: grid;
    grid-template-columns: repeat(5, 0.5fr);
    place-items: center;
    column-gap: 1vw;
    margin-left: 11vw;
}

.icon-selected-line {
    border-bottom: solid 1px white;
    height: 10vh;
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hometext {
    font-size: 2vh;
    color: #ffffff;
    font-weight: 500;

}

#abouttext {
    font-size: 2vh;
    color: #ffffff;
    font-weight: 500;
}

#servicetext {
    font-size: 2vh;
    color: #ffffff;
    font-weight: 500;
}


.line {
    width: 1px;
    height: 2vh;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
}

a {
    text-decoration: none;
}

#insta,
#fb,
#twitter,
#linked {
    height: 2vh;

}

.follow {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    column-gap: 0rem;
    margin-left: 0;
    margin-right: 15vw;
}

#button-demo {
    height: 10vh;
    background: white;
    width: 9vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#request-button {
    font-family: Krub;
    color: #000000;
    font-size: 0.7vw;
    font-weight: 600;
}

.section1 {
    width: 98.9vw;
    height: auto;
}

.main-grid-section1 {
    display: flex;
    flex-direction: row;

}

.left-grid-section1 {
    width: 40vw;
    height: 50vh;
    padding-top: 5%;
    padding-left: 5%;
    position: relative;
}

#left-section1-image1 {
    width: 90%;
    height: auto;
}

#left-section1-image2 {
    position: absolute;
    width: 12vw;
    height: auto;
    top: 60%;
    left: 65%;
    border-left: solid 1.5vw white;
    border-top: solid 1.5vw white;
}

#text-in-home {
    position: absolute;
    top: 35vh;
    left: 17vw;
}

#text-1 {
    color: #FFFFFF;
    background: rgba(4, 28, 55, 0.50);
    width: 8rem;
    font-size: 1.3rem;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-left-color: #ffb629;
}

#text-2 {
    color: #FFF;
    font-family: Rubik;
    font-size: 3.3vw;
    font-style: normal;
    font-weight: 700;
    padding-top: 1.5rem;
}


.right-grid-section1 {
    width: 50%;
}


.about-text {
    padding-top: 15%;
    padding-left: 10%;
}

#lefttxt3 {
    color: #000000;
    background: rgba(232, 232, 232, 0.50);
    width: 4vw;
    font-size: 1.5vh;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-left-color: #ffb629;
    color: #1C1F35;
    font-family: Rubik;
    font-weight: 400;
}

#lefttxt4 {
    width: 20vw;
    font-size: 1.5vw;
    color: #1C1F35;
    font-family: Rubik;
    font-weight: 900;
    font-family: Rubik;
    font-style: normal;
    font-weight: 600;
}

.small-text-about {
    color: #666C89;
    font-family: Krub;
    font-size: 1.35rem;
    font-style: normal;
    font-weight: 500;
    width: 33vw;
}

.about-images {
    position: absolute;
    top: 5vw;
    left: 35vw;
    min-width: 10vw;
    min-height: 10vh;
}


.delivery-icons {
    padding-top: 2vh;

}

#delivery-icon {
    width: 9vw;
    padding-right: 1rem;
    transition: transform 0.3s ease;
}

#delivery-icon:hover{
    transform: scale(1.1);
}

.small-text-about-2 {
    color: #666C89;
    font-family: Krub;
    font-size: 1.35rem;
    font-style: normal;
    font-weight: 500;
    width: 33vw;
    padding-top: 2%;
}

.section1-button {
    background: url(About_page/Background-button-sec1.svg);
    color: #ffffff;
    font-family: Krub;
    font-size: 1.5vh;
    font-style: normal;
    font-weight: 600;
    border: 0;
    width: 17.5rem;
    height: 6vh;
    margin-top: 3%;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.section1-button:hover{
    transform: scale(1.1);
}

.section2 {
    height: auto;
    background: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

.main-box-section2 {
    width: 60%;
    height: 80%;
    background: #F4F4F4;
}


.about-text-section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

#lefttxt3-section2 {
    color: #000000;
    background: rgba(232, 232, 232, 0.50);
    width: 5vw;
    font-size: 1.5vh;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-left-color: #ffb629;
    color: #1C1F35;
    font-family: Rubik;
    font-weight: 400;
}

#lefttxt4-section2 {
    width: auto;
    font-size: 1.5vw;
    color: #1C1F35;
    font-family: Rubik;
    font-weight: 900;
    font-family: Rubik;
    font-style: normal;
    font-weight: 600;
}



.sec2-icons-box {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding-bottom: 5%;
    row-gap: 2rem;
}

.sec2-icons-top-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5vw;
}


.sec2-icon-top-item1 {
    display: grid;
    grid-template-rows: 1fr 0.5fr 1.5fr;
    row-gap: 1vh;
}

.sec2-first-text {
    color: #1C1F35;
    font-family: Rubik;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sec2-second-text {
    color: #666C89;
    font-family: Krub;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 151.523%;
}

.sec2-icons-img {
    width: 18%;
}

.sec2-icons-img1 {
    width: 22%;
}

.sec2-icons-bottom-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5vw;

}

.sec2-icon-top-item1:hover .sec2-first-text {
    color: #FFB82B;
}


.section2-button {
    background: url(About_page/Background-button-sec1.svg);
    color: #ffffff;
    font-family: Krub;
    font-size: 1.5vh;
    font-style: normal;
    font-weight: 600;
    border: 0;
    width: 17.5rem;
    height: 6vh;
    margin-bottom: 5rem;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.section2-button:hover{
    transform: scale(1.1);
}

.section3 {
    position: relative;
    min-height: 73vh;
    margin-top: 8rem;
}

.s3-main-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec3-images {
    display: flex;
    width: 65vw;
    gap: 5rem;
}

#sec3-lefttxt3 {
    color: #000000;
    background: rgba(232, 232, 232, 0.50);
    width: 7vw;
    height: 1vw;
    font-size: 1.3vh;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-left-color: #ffb629;
    font-family: Rubik;
    font-weight: 400;
    margin-bottom: 0.6vh;
    place-content: center;

}

#sec3-lefttxt4 {
    height: 1vw;
    font-size: 2.8rem;
    color: #000000;
    font-family: Rubik;
    font-weight: 900;
    font-family: Rubik;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 3%;

}

.section-3-icon1 {
    width: 18vw;
    height: auto;
}

.section-5 {
    position: relative;
    min-height: 70vh;
    background: rgba(244, 244, 244, 1);
}

.testimonial {
    position: absolute;
    top: 0rem;
    left: 25vw;
    width: 5vw;
    margin-top: 5rem;
}

#testimonial-arrow {
    position: absolute;
    top: 0.2vh;
    left: 36.5vw;

}

#testimonial-title {
    color: #000000;
    background: rgba(232, 232, 232, 0.50);
    width: 4.5vw;
    padding: 0.3%;
    font-size: 1.3vh;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-left-color: #ffb629;
    color: #1C1F35;
    font-family: Rubik;
    font-weight: 400;

}

#testimonial-text {
    position: absolute;
    top: 0rem;
    width: 20vw;
    font-size: 3vh;
    color: #1C1F35;
    font-family: Rubik;
    font-weight: 900;
    font-family: Rubik;
    font-style: normal;
    font-weight: 600;

}

.section-5-grid-container {
    position: absolute;
    top: 12rem;
    left: 25vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #d6d6d6;
    height: 40vh;
}

.section-5-grid-left-item {
    padding-left: 5rem;
    display: grid;
    grid-template-rows: repeat(3, 0.4fr);
    width: 19vw;
    background: #F4F4F4;
}

.section-5-user {
    display: grid;
    width: 16vw;
    padding-top: 5rem;
    grid-template-columns: 0.2fr 1.2fr 0.1fr;

}

.circular-image-container {
    width: 7rem;
    height: 7rem;
    overflow: hidden;
    border-radius: 50%;

}

.circular-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}

.user-detail-section5 {

    padding-left: 0.2vw;
}

.user-double-quote-icon {
    width: 3.1vw;

}

.section-5-text {
    width: 16vw;
    text-align: justify;
    padding-top: 1rem;
    margin-left: 0rem;

}

.section-5-stars {
    padding-top: 2rem;
    margin-left: 0rem;

}

.star-section-5 {
    width: 14rem;

}

.section-5-middle-paragraph-text {
    font-size: 1.3rem;
    font-family: Krub;
    font-style: italic;

}

#user-name-section5 {
    font-family: Rubik;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    padding: 0;
    margin-bottom: 0;

}

#user-company-section5 {
    font-family: Krub;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    padding: 0;
    margin-bottom: 0;

}

.section-5-grid-right-item {
    padding-left: 5rem;
    display: grid;
    grid-template-rows: repeat(3, 0.4fr);
    width: 19vw;
    background: #091242;
}

.section-5-middle-paragraph-text-r {
    font-size: 1.3rem;
    font-family: Krub;
    font-style: italic;
    color: #F4F4F4;

}

#user-name-section5-r {
    font-family: Rubik;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    padding: 0;
    color: white;
    margin-bottom: 0;

}

#user-company-section5-r {
    font-family: Krub;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    padding: 0;
    color: white;
    margin-bottom: 0;

}

.section6-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
}


.texts-section6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}



#section6-title {
    color: #000000;
    background: rgba(232, 232, 232, 0.50);
    width: 3vw;
    height: 1vw;
    font-size: 1.3vh;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-left-color: #ffb629;
    font-family: Rubik;
    font-weight: 400;
    margin-bottom: 0.6vh;


}

#section6-text {
    height: 1vw;
    font-size: 2.8rem;
    color: #000000;
    font-family: Rubik;
    font-weight: 900;
    font-family: Rubik;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 3%;

}


.three-bars-section6 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 3vh;
    margin-bottom: 7vh;
}


.first-bar-sec6 {
    width: 35rem;
    height: auto;
    background: #F4F4F4;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
}


.price-sec6 {
    display: flex;
    flex-direction: row;
}

.features-sec6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    border-bottom: solid rgb(211, 211, 211) 1px;
}

.bar-first-text {
    color: #1C1F35;
    text-align: center;
    font-family: Rubik;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 5vh;
}

.bar-price-text {
    color: #1C1F35;
    text-align: center;
    font-family: Rubik;
    font-size: 6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bar-month-text {
    color: #1C1F35;
    font-family: Rubik;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 3.5rem;
}

.feature-texts {
    color: #1C1F35;
    text-align: center;
    font-family: Rubik;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.feature-one-sec6 {
    border-top: solid rgb(211, 211, 211) 1px;
    width: 15vw;
    padding-top: 3vh;
}

.feature-one-sec6-last {
    border-top: solid rgb(211, 211, 211) 1px;
    width: 15vw;
    padding-top: 3vh;
    padding-bottom: 1vh;
}

.button-sec6 {
    background: url(About_page/Background-button-sec1.svg);
    color: #ffffff;
    font-family: Krub;
    font-size: 1.5vh;
    font-style: normal;
    font-weight: 600;
    border: 0;
    width: 17.5rem;
    height: 6vh;
    margin-bottom: 3rem;
    transition:  transform 0.3s ease;
    cursor: pointer;
}

.button-sec6:hover{
    transform: scale(1.1);
}

.second-bar-sec6 {
    width: 35rem;
    height: auto;
    background: #091242;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
}

.third-bar-sec6 {
    width: 35rem;
    height: auto;
    background: #F4F4F4;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
}


.button2-sec6 {
    background: url(About_page/button2-section6.svg);
    color: #000000;
    font-family: Krub;
    font-size: 1.5vh;
    font-style: normal;
    font-weight: 600;
    border: 0;
    width: 17.5rem;
    height: 6vh;
    margin-bottom: 3rem;
    transition:  transform 0.3s ease;
    cursor: pointer;
}

.button2-sec6:hover{
    transform: scale(1.1);
}

.section7 {
    background: #F4F4F4;
    display: flex;
    justify-content: center;
    padding-bottom: 2vw;
}

.section7-FAQ {
    width: 40%;
}

.texts-section7 {
    margin-top: 13rem;
    margin-left: 0rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
}

#section7-title {
    color: #000000;
    background: rgba(232, 232, 232, 0.50);
    width: 3vw;
    height: 1vw;
    font-size: 1.3vh;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-left-color: #ffb629;
    font-family: Rubik;
    font-weight: 400;
    margin-bottom: 0.6vh;
}

#section7-text {
    height: 1vw;
    font-size: 2rem;
    color: #000000;
    font-family: Rubik;
    font-weight: 900;
    font-family: Rubik;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 3%;

}

.section7-images {
    width: 30%;
    position: relative;
}





.texts-section7-cont {
    margin-top: 5vh;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
    width: 20vw;
}



#section7-title-cont {
    color: #ffffff;
    background: #111C55;
    width: 3.4vw;
    height: 1vw;
    font-size: 1.3vh;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-left-color: #ffb629;
    font-family: Rubik;
    font-weight: 400;
    margin-bottom: 0.6vh;


}

#section7-text-cont {
    height: 1vw;
    font-size: 2rem;
    color: #ffffff;
    font-family: Rubik;
    font-weight: 900;
    font-family: Rubik;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 3%;

}


.contact-us-sec7 {
    width: auto;
    background: #091242;
    position: absolute;
    top: 23vh;
}

.sec7-callus {

    margin-left: 5rem;
    display: flex;
}

.sec7-call-texts {
    color: #F4F4F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    font-size: 1.3rem;
}

.call-icon-sec7-img {
    width: 3vw;
}


.button-sec7 {
    background: url(About_page/button2-section6.svg);
    color: #000000;
    font-family: Krub;
    font-size: 1.5vh;
    font-style: normal;
    font-weight: 600;
    border: 0;
    width: 17.5rem;
    height: 6vh;
    margin-bottom: 3rem;
    margin-top: 3rem;
    margin-left: 5rem;
    transition:  transform 0.3s ease;
    cursor: pointer;
}

.button-sec7:hover{
    transform: scale(1.1);
}


.image-section7-behind {
    margin-top: 10vh;
    margin-left: 4.5vw;
}

.image-tag-sec7 {
    width: 40vw;
}




.first-question {
    width: 100%;
}

.content1 {
    display: none;
    margin-top: 2rem;
    margin-left: 1rem;
    width: 30rem;
    font-size: 1.2rem;
    
}

.arrow-label {
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.arrow1 {
    transform: scale(1.8);
}

#toggle:checked+.arrow-label .arrow1 {
    transform: rotate(90deg) scale(1.8);
    transition: transform 0.3s ease-in-out;
    color: #ffb629;
}

#toggle:checked~.content1 {
    display: block;
}


.second-question {
    padding-top: 5vh;
}

.content2 {
    display: none;
    margin-top: 2rem;
    margin-left: 1rem;
    width: 30rem;
    font-size: 1.2rem;
}

.arrow-label2 {
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.arrow2 {
    transform: scale(1.8);
}

#toggle2:checked+.arrow-label2 .arrow2 {
    transform: rotate(90deg) scale(1.8);
    transition: transform 0.3s ease-in-out;
    color: #ffb629;
}

#toggle2:checked~.content2 {
    display: block;
}

.third-question {
    padding-top: 5vh;
}

.content3 {
    display: none;
    margin-top: 2rem;
    margin-left: 1rem;
    width: 30rem;
    font-size: 1.2rem;
}

.arrow-label3 {
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.arrow3 {
    transform: scale(1.8);
}

#toggle3:checked+.arrow-label3 .arrow3 {
    transform: rotate(90deg) scale(1.8);
    transition: transform 0.3s ease-in-out;
    color: #ffb629;
}

#toggle3:checked~.content3 {
    display: block;
}


.fourth-question {
    padding-top: 5vh;
}

.content4 {
    display: none;
    margin-top: 2rem;
    margin-left: 1rem;
    width: 30rem;
    font-size: 1.2rem;
}

.arrow-label4 {
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.arrow4 {
    transform: scale(1.8);
}

#toggle4:checked+.arrow-label4 .arrow4 {
    transform: rotate(90deg) scale(1.8);
    transition: transform 0.3s ease-in-out;
    color: #ffb629;
}

#toggle4:checked~.content4 {
    display: block;
}



.faq-sec7-question {
    color: #1C1F35;
    font-family: Rubik;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.faq-sec7-anwer {
    color: #666C89;
    font-family: Krub;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 151.523%;
}


.section8{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.s8-body-bottom-grid {
    display: flex;
    width: auto;
    border: solid 1px black;
}

.s8-1-img,.s8-2-img{
    border-right:solid 1px black;
}



@media screen and (max-width: 768px) {
    .logo {
        flex-direction: column;
        justify-content: center;
    }

    #imglogo {
        width: 50vw;
    }

    #addrsbar {
        width: 90vw;
        padding-left: 0rem;
    }

    #banner {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #homebannerimage {
        width: 100%;
        height: 50vh;
        position: relative;
        background-image: url(About_page/homeimg-sec1-banner.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .navigation {
        background: linear-gradient(90deg,
                rgba(9, 18, 67, 0.2),
                rgba(9, 18, 67, 0.1));
        height: 10vh;
        display: grid;
        grid-template-columns: repeat(0, 1fr);
        column-gap: 20%;
        place-items: center;
        position: absolute;
        top: 15vh;
        width: 100%;
    }


    .navig {
        display: grid;
        grid-template-columns: repeat(5, 0.5fr);
        place-items: center;
        column-gap: 5vw;
        margin-left: 20vw;
    }

    .icon-selected-line {
        border-bottom: solid 1px white;
        height: 10vh;
        width: 10vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #hometext {
        font-size: 2vh;
        color: #ffffff;
        font-weight: 500;
    }

    #abouttext {
        font-size: 2vh;
        color: #ffffff;
        font-weight: 500;
    }

    #servicetext {
        font-size: 2vh;
        color: #ffffff;
        font-weight: 500;
    }


    .line {
        width: 1px;
        height: 2vh;
        background-color: rgba(255, 255, 255, 0.3);
        display: flex;
    }


    #insta,
    #fb,
    #twitter,
    #linked {
        height: 0vh;
        width: 0vw;

    }

    .follow {
        display: grid;
        grid-template-columns: repeat(0, 1fr);
        place-items: center;
        column-gap: 0rem;
        margin-left: 0;
        margin-right: 0vw;
        width: 0;

    }

    #button-demo {
        height: 0vh;
        background: white;
        width: 0vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #request-button {
        font-family: Krub;
        color: #000000;
        font-size: 0vw;
        font-weight: 600;
    }

    #text-in-home {
        position: absolute;
        top: 35vh;
        left: 10vw;
    }

    #text-1 {
        color: #FFFFFF;
        background: rgba(4, 28, 55, 0.50);
        width: 8rem;
        font-size: 1.3rem;
        text-align: center;
        border-style: solid;
        border-width: 3px;
        border-right: 0;
        border-top: 0;
        border-bottom: 0;
        border-left-color: #ffb629;
    }

    #text-2 {
        color: #FFF;
        font-family: Rubik;
        font-size: 8vw;
        font-style: normal;
        font-weight: 700;
        padding-top: 1.5rem;
    }

    .section1 {
        width: 98.9vw;

    }

    .main-grid-section1 {
        display: flex;
        flex-direction: column;

    }

    .left-grid-section1 {
        width: 90vw;
        height: 50vh;
        padding-top: 5%;
        padding-left: 10%;
        position: relative;
    }

    #left-section1-image1 {
        width: 90%;
        height: auto;
    }

    #left-section1-image2 {
        position: absolute;
        width: 70vw;
        height: auto;
        top: 60%;
        left: 15%;
        border-left: solid 0vw white;
        border-top: solid 0vw white;
    }

    #text-in-home {
        position: absolute;
        top: 35vh;
        left: 17vw;
    }

    #text-1 {
        color: #FFFFFF;
        background: rgba(4, 28, 55, 0.50);
        width: 8rem;
        font-size: 1.3rem;
        text-align: center;
        border-style: solid;
        border-width: 3px;
        border-right: 0;
        border-top: 0;
        border-bottom: 0;
        border-left-color: #ffb629;
    }

    #text-2 {
        color: #FFF;
        font-family: Rubik;
        font-size: 11vw;
        font-style: normal;
        font-weight: 700;
        padding-top: 1.5rem;
    }


    .right-grid-section1 {
        width: 50%;
    }


    .about-text {
        padding-top: 75%;
        padding-left: 10%;
    }

    #lefttxt3 {
        color: #000000;
        background: rgba(232, 232, 232, 0.50);
        width: 19vw;
        font-size: 1.5vh;
        text-align: center;
        border-style: solid;
        border-width: 3px;
        border-right: 0;
        border-top: 0;
        border-bottom: 0;
        border-left-color: #ffb629;
        color: #1C1F35;
        font-family: Rubik;
        font-weight: 400;
    }

    #lefttxt4 {
        width: 70vw;
        font-size: 10vw;
        color: #1C1F35;
        font-family: Rubik;
        font-weight: 900;
        font-family: Rubik;
        font-style: normal;
        font-weight: 600;
    }

    .small-text-about {
        color: #666C89;
        font-family: Krub;
        font-size: 1.7rem;
        font-style: normal;
        font-weight: 500;
        width: 73vw;
    }

    .about-images {
        position: absolute;
        top: 5vw;
        left: 35vw;
        min-width: 10vw;
        min-height: 10vh;
    }


    .delivery-icons {
        padding-top: 2vh;
        padding-left: 15vw;
    }

    #delivery-icon {
        width: 35vw;
        padding-right: 1rem;
    }

    .small-text-about-2 {
        color: #666C89;
        font-family: Krub;
        font-size: 1.7rem;
        font-style: normal;
        font-weight: 500;
        width: 73vw;
        padding-top: 2%;
    }

    .section1-button {
        background: url(About_page/Background-button-sec1.svg);
        color: #ffffff;
        font-family: Krub;
        font-size: 1.5vh;
        font-style: normal;
        font-weight: 600;
        border: 0;
        width: 17.5rem;
        height: 6vh;
        margin-top: 10%;
    }


    .section2 {
        width: 100vw;

        background: #F4F4F4;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-box-section2 {
        width: 60%;
        height: 80%;
        background: #F4F4F4;
    }


    .about-text-section2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 5%;
    }

    #lefttxt3-section2 {
        color: #000000;
        background: rgba(232, 232, 232, 0.50);
        width: 25vw;
        font-size: 1.5vh;
        text-align: center;
        border-style: solid;
        border-width: 3px;
        border-right: 0;
        border-top: 0;
        border-bottom: 0;
        border-left-color: #ffb629;
        color: #1C1F35;
        font-family: Rubik;
        font-weight: 400;
    }

    #lefttxt4-section2 {
        width: auto;
        font-size: 10vw;
        color: #1C1F35;
        font-family: Rubik;
        font-weight: 900;
        font-family: Rubik;
        font-style: normal;
        font-weight: 600;
    }



    .sec2-icons-box {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        padding-bottom: 5%;
        row-gap: 1vh;
        min-height: 150vh;
    }

    .sec2-icons-top-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 12%;
        row-gap: 1vh;
    }


    .sec2-icon-top-item1 {
        display: grid;
        grid-template-rows: 1fr 0.5fr 1.5fr;
        row-gap: 2vh;
    }

    .sec2-first-text {
        color: #1C1F35;
        font-family: Rubik;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .sec2-second-text {
        color: #666C89;
        font-family: Krub;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 151.523%;
    }

    .sec2-icons-img {
        width: 15%;
    }

    .sec2-icons-img1 {
        width: 22%;
    }

    .sec2-icons-bottom-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 12%;
        row-gap: 2vh;
    }

    .section2-button {
        background: url(About_page/Background-button-sec1.svg);
        color: #ffffff;
        font-family: Krub;
        font-size: 1.5vh;
        font-style: normal;
        font-weight: 600;
        border: 0;
        width: 17.5rem;
        height: 6vh;
        margin-top: 8%;
    }



    .section3-experts {
        position: relative;
        height: auto;
    }

    .s3-main-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sec3-images {
        display: flex;
        width: 65vw;
        flex-direction: column;
        margin-top: 8rem;
        justify-content: center;
        align-items: center;
    }

    #sec3-lefttxt3 {
        color: #000000;
        background: rgba(232, 232, 232, 0.50);
        width: 25vw;
        height: 4vw;
        font-size: 1.3vh;
        text-align: center;
        border-style: solid;
        border-width: 3px;
        border-right: 0;
        border-top: 0;
        border-bottom: 0;
        border-left-color: #ffb629;
        font-family: Rubik;
        font-weight: 400;
        margin-bottom: 0.6vh;
        place-content: center;

    }

    #sec3-lefttxt4 {
        height: 1vw;
        font-size: 2.8rem;
        color: #000000;
        font-family: Rubik;
        font-weight: 900;
        font-family: Rubik;
        font-style: normal;
        font-weight: 600;
        margin-bottom: 3%;

    }

    .section-3-icon1 {
        width: 45vw;
        height: auto;
    }



    .section-5 {
        position: relative;
        min-height: 130vh;
        margin-top: 3rem;
    }

    .testimonial {
        position: absolute;
        top: 0rem;
        left: 10vw;
        width: 25vw;
        background: none;
    }

    #testimonial-arrow {
        position: absolute;
        top: 0.2vh;
        left: 50vw;

    }

    #testimonial-title {
        color: #000000;
        background: rgba(232, 232, 232, 0.50);
        width: 22vw;
        padding: 0.3%;
        font-size: 1.8vh;
        text-align: center;
        border-style: solid;
        border-width: 3px;
        border-right: 0;
        border-top: 0;
        border-bottom: 0;
        border-left-color: #ffb629;
        color: #1C1F35;
        font-family: Rubik;
        font-weight: 400;

    }

    #testimonial-text {
        position: absolute;
        top: 0rem;
        width: 55vw;
        font-size: 3.5vh;
        color: #1C1F35;
        font-family: Rubik;
        font-weight: 900;
        font-family: Rubik;
        font-style: normal;
        font-weight: 600;

    }

    .section-5-grid-container {
        position: absolute;
        top: 12rem;
        left: 12vw;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background: #d6d6d6;
        height: 20vh;
        margin-top: 5rem;
    }

    .section-5-grid-left-item {
        padding-left: 5rem;
        display: grid;
        grid-template-rows: repeat(3, 0.4fr);
        width: 55vw;
        background: #F4F4F4;

    }

    .section-5-user {
        display: grid;
        width: 16vw;
        padding-top: 5rem;
        grid-template-columns: 0.2fr 1.2fr 0.1fr;

    }

    .circular-image-container {
        width: 7rem;
        height: 7rem;
        overflow: hidden;
        border-radius: 50%;

    }

    .circular-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;

    }

    .user-detail-section5 {

        padding-left: 2vw;
    }

    .user-double-quote-icon {
        width: 5vw;

    }

    .section-5-text {
        width: 50vw;
        text-align: justify;
        padding-top: 1rem;
        margin-left: 0rem;

    }

    .section-5-stars {
        padding-top: 2rem;
        margin-left: 0rem;

    }

    .star-section-5 {
        width: 14rem;

    }

    .section-5-middle-paragraph-text {
        font-size: 1.3rem;
        font-family: Krub;
        font-style: italic;

    }

    #user-name-section5 {
        font-family: Rubik;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        padding: 0;
        margin-bottom: 0;

    }

    #user-company-section5 {
        font-family: Krub;
        font-size: 1.1rem;
        font-style: normal;
        font-weight: 500;
        padding: 0;
        margin-bottom: 0;

    }

    .section-5-grid-right-item {
        padding-left: 5rem;
        display: grid;
        grid-template-rows: repeat(3, 0.4fr);
        width: 55vw;
        background: #091242;
    }

    .section-5-middle-paragraph-text-r {
        font-size: 1.3rem;
        font-family: Krub;
        font-style: italic;
        color: #F4F4F4;

    }

    #user-name-section5-r {
        font-family: Rubik;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        padding: 0;
        color: white;
        margin-bottom: 0;

    }

    #user-company-section5-r {
        font-family: Krub;
        font-size: 1.1rem;
        font-style: normal;
        font-weight: 500;
        padding: 0;
        color: white;
        margin-bottom: 0;

    }





    .section6-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 5vh;
    }


    .texts-section6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
    }



    #section6-title {
        color: #000000;
        background: rgba(232, 232, 232, 0.50);
        width: 19vw;
        height: 4vw;
        font-size: 1.3vh;
        text-align: center;
        border-style: solid;
        border-width: 3px;
        border-right: 0;
        border-top: 0;
        border-bottom: 0;
        border-left-color: #ffb629;
        font-family: Rubik;
        font-weight: 400;
        margin-bottom: 0.6vh;


    }

    #section6-text {
        height: 1vw;
        font-size: 2.8rem;
        color: #000000;
        font-family: Rubik;
        font-weight: 900;
        font-family: Rubik;
        font-style: normal;
        font-weight: 600;
        margin-bottom: 3%;

    }


    .three-bars-section6 {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 3vh;
        margin-bottom: 7vh;
    }


    .first-bar-sec6 {
        width: 35rem;
        height: auto;
        background: #F4F4F4;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5vh;
    }


    .price-sec6 {
        display: flex;
        flex-direction: row;
    }

    .features-sec6 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
        border-bottom: solid rgb(211, 211, 211) 1px;
    }

    .bar-first-text {
        color: #1C1F35;
        text-align: center;
        font-family: Rubik;
        font-size: 3rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 5vh;
    }

    .bar-price-text {
        color: #1C1F35;
        text-align: center;
        font-family: Rubik;
        font-size: 6rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .bar-month-text {
        color: #1C1F35;
        font-family: Rubik;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 3.5rem;
    }

    .feature-texts {
        color: #1C1F35;
        text-align: center;
        font-family: Rubik;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .feature-one-sec6 {
        border-top: solid rgb(211, 211, 211) 1px;
        width: 60vw;
        padding-top: 3vh;
    }

    .feature-one-sec6-last {
        border-top: solid rgb(211, 211, 211) 1px;
        width: 60vw;
        padding-top: 3vh;
        padding-bottom: 1vh;
    }

    .button-sec6 {
        background: url(About_page/Background-button-sec1.svg);
        color: #ffffff;
        font-family: Krub;
        font-size: 1.5vh;
        font-style: normal;
        font-weight: 600;
        border: 0;
        width: 17.5rem;
        height: 6vh;
        margin-bottom: 3rem;
    }


    .second-bar-sec6 {
        width: 35rem;
        height: auto;
        background: #091242;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5vh;
    }

    .third-bar-sec6 {
        width: 35rem;
        height: auto;
        background: #F4F4F4;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5vh;
    }


    .button2-sec6 {
        background: url(About_page/button2-section6.svg);
        color: #000000;
        font-family: Krub;
        font-size: 1.5vh;
        font-style: normal;
        font-weight: 600;
        border: 0;
        width: 17.5rem;
        height: 6vh;
        margin-bottom: 3rem;
    }

    .section7 {
        background: #F4F4F4;
        display: flex;
        justify-content:unset ;
        flex-direction: column;
        
    }

    .section7-FAQ {
        width: 40%;
        
    }

    .texts-section7 {
        margin-top: 1rem;
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 6rem;
    }

    #section7-title {
        color: #000000;
        background: rgba(232, 232, 232, 0.50);
        width: 10vw;
        height: 3vw;
        font-size: 1.5vh;
        text-align: center;
        border-style: solid;
        border-width: 3px;
        border-right: 0;
        border-top: 0;
        border-bottom: 0;
        border-left-color: #ffb629;
        font-family: Rubik;
        font-weight: 400;
        margin-bottom: 0.6vh;
    }

    #section7-text {
        height: 1vw;
        font-size: 3rem;
        color: #000000;
        font-family: Rubik;
        font-weight: 900;
        font-family: Rubik;
        font-style: normal;
        font-weight: 600;
        margin-bottom: 3%;

    }

    .section7-images {
        width: 30%;
        position: relative;
    }





    .texts-section7-cont {
        margin-top: 5vh;
        margin-left: 5rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 6rem;
        width: 40vw;
    }



    #section7-title-cont {
        color: #ffffff;
        background: #111C55;
        width: 19vw;
        height: 3vw;
        font-size: 1.3vh;
        text-align: center;
        border-style: solid;
        border-width: 3px;
        border-right: 0;
        border-top: 0;
        border-bottom: 0;
        border-left-color: #ffb629;
        font-family: Rubik;
        font-weight: 400;
        margin-bottom: 0.6vh;
        margin-top: 3rem;
    }

    #section7-text-cont {
        height: 1vw;
        font-size: 2rem;
        color: #ffffff;
        font-family: Rubik;
        font-weight: 900;
        font-family: Rubik;
        font-style: normal;
        font-weight: 600;
        margin-bottom: 3%;

    }


    .contact-us-sec7 {
        width: 70vw;
        background: #091242;
        position: relative;
        top: 0;
        left: 0;
        margin-left: 5rem;
    }

    .sec7-callus {
        margin-left: 5rem;
        display: flex;
        margin-top: 8rem;
    }

    .sec7-call-texts {
        color: #F4F4F4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1rem;
        font-size: 1.3rem;

    }

    .call-icon-sec7-img {
        width: 10vw;
    }


    .button-sec7 {
        background: url(About_page/button2-section6.svg);
        color: #000000;
        font-family: Krub;
        font-size: 1.5vh;
        font-style: normal;
        font-weight: 600;
        border: 0;
        width: 16rem;
        height: 6vh;
        margin-bottom: 3rem;
        margin-top: 3rem;
        margin-left: 4rem;
    }


    .image-section7-behind {
        margin-top: 10vh;
        margin-left: 9vw;
    }

    .image-tag-sec7 {
        width: 80vw;
    }




    .first-question {
        margin-left: 2rem;
        width: 45vh;
        margin-top: 18vh;
    }

    .content1 {
        display: none;
        margin-top: 2rem;
        margin-left: 1rem;
        width: 26rem;
        font-size: 1.2rem;
    }

    .arrow-label {
        cursor: pointer;
        user-select: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .arrow1 {
        transform: scale(1.8);
    }

    #toggle:checked+.arrow-label .arrow1 {
        transform: rotate(90deg) scale(1.8);
        transition: transform 0.3s ease-in-out;
        color: #ffb629;
    }

    #toggle:checked~.content1 {
        display: block;
    }


    .second-question {
        padding-top: 5vh;
        margin-left: 2rem;
        width: 45vh;
    }

    .content2 {
        display: none;
        margin-top: 2rem;
        margin-left: 1rem;
        width: 26rem;
        font-size: 1.2rem;
    }

    .arrow-label2 {
        cursor: pointer;
        user-select: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
    }

    .arrow2 {
        transform: scale(1.8);
    }

    #toggle2:checked+.arrow-label2 .arrow2 {
        transform: rotate(90deg) scale(1.8);
        transition: transform 0.3s ease-in-out;
        color: #ffb629;
    }

    #toggle2:checked~.content2 {
        display: block;
    }

    .third-question {
        padding-top: 5vh;
        margin-left: 2rem;
        width: 45vh;
    }

    .content3 {
        display: none;
        margin-top: 2rem;
        margin-left: 1rem;
        width: 26rem;
        font-size: 1.2rem;
    }

    .arrow-label3 {
        cursor: pointer;
        user-select: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
    }

    .arrow3 {
        transform: scale(1.8);
    }

    #toggle3:checked+.arrow-label3 .arrow3 {
        transform: rotate(90deg) scale(1.8);
        transition: transform 0.3s ease-in-out;
        color: #ffb629;
    }

    #toggle3:checked~.content3 {
        display: block;
    }


    .fourth-question {
        padding-top: 5vh;
        margin-left: 2rem;
        width: 45vh;
    }

    .content4 {
        display: none;
        margin-top: 2rem;
        margin-left: 1rem;
        width: 26rem;
        font-size: 1.2rem;
    }

    .arrow-label4 {
        cursor: pointer;
        user-select: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
    }

    .arrow4 {
        transform: scale(1.8);
    }

    #toggle4:checked+.arrow-label4 .arrow4 {
        transform: rotate(90deg) scale(1.8);
        transition: transform 0.3s ease-in-out;
        color: #ffb629;
    }

    #toggle4:checked~.content4 {
        display: block;
    }



    .faq-sec7-question {
        color: #1C1F35;
        font-family: Rubik;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .faq-sec7-anwer {
        color: #666C89;
        font-family: Krub;
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 151.523%;
    }

    .section8{
        display: flex;
        align-items: unset;
        justify-content: center;
        height: auto;
        margin-bottom: 5rem;
        margin-top: 5rem;
    }

    .s8-body-bottom-grid {
        display: flex;
        flex-direction: column;
        width: auto;
        border: solid 1px black;
        
    }
    
    .s8-1-img,.s8-2-img{
        border-right:solid 1px black;
        border-bottom:solid 1px black;
        
    }
    .s8-3-img{
        border-bottom:solid 1px black;
    }
    
}