html {
    font-size: 62.5%;
    font-family: Krub;
}

body {
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
}

.logoheader {
    position: relative;
    height: 15vh;
    min-height: 15vh;
}

.logo {
    background-color: rgb(9, 18, 67);
    color: #fff;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    min-height: 15vh;
}

#imglogo {
    width: 15vw;
    height: auto;
    min-width: 15vw;
    min-height: 3.5vh;
}

#addrsbar {
    height: auto;
    width: 40vw;
    padding-left: 20rem;
}

#homebannerimage {
    width: 100%;
    height: 50vh;
    position: relative;
    background-image: url('Service_page/homeimg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.navigation {
    background: linear-gradient(90deg,
            rgba(9, 18, 67, 0.2),
            rgba(9, 18, 67, 0.1));
    height: 10vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20%;
    place-items: center;
    position: absolute;
    top: 15vh;
    min-width: 98.8vw;
    min-height: 10vh;
}


.navig {
    display: grid;
    grid-template-columns: repeat(5, 0.5fr);
    place-items: center;
    column-gap: 1vw;
    margin-left: 11vw;
}

.icon-selected-line {
    border-bottom: solid 1px white;
    height: 10vh;
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hometext {
    font-size: 2vh;
    color: #ffffff;
    font-weight: 500;

}

#abouttext {
    font-size: 2vh;
    color: #ffffff;
    font-weight: 500;
}

#servicetext {
    font-size: 2vh;
    color: #ffffff;
    font-weight: 500;
}


.line {
    width: 1px;
    height: 2vh;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
}

a {
    text-decoration: none;
}

#insta,
#fb,
#twitter,
#linked {
    height: 2vh;

}

.follow {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    column-gap: 0rem;
    margin-left: 0;
    margin-right: 15vw;
}

#button-demo {
    height: 10vh;
    background: white;
    width: 9vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#request-button {
    font-family: Krub;
    color: #000000;
    font-size: 0.7vw;
    font-weight: 600;
}

#text-in-home {
    position: absolute;
    top: 35vh;
    left: 17vw;
    width: 50rem;
}

#text-1 {
    color: #FFFFFF;
    background: rgba(4, 28, 55, 0.50);
    width: 8rem;
    font-size: 1.3rem;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-left-color: #ffb629;
}

#text-2 {
    color: #FFF;
    font-family: Rubik;
    font-size: 3.3vw;
    font-style: normal;
    font-weight: 700;
    padding-top: 1.5rem;

}

.section2 {
    height: auto;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-box-section2 {
    width: 60%;
    height: 80%;
    background: #ffffff;
}


.about-text-section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

#lefttxt3-section2 {
    color: #000000;
    background: rgba(232, 232, 232, 0.50);
    width: 5vw;
    font-size: 1.5vh;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-left-color: #ffb629;
    color: #1C1F35;
    font-family: Rubik;
    font-weight: 400;
}

#lefttxt4-section2 {
    width: auto;
    font-size: 1.5vw;
    color: #1C1F35;
    font-family: Rubik;
    font-weight: 900;
    font-family: Rubik;
    font-style: normal;
    font-weight: 600;
}



.sec2-icons-box {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding-bottom: 5%;
    row-gap: 2rem;
}

.sec2-icons-top-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5vw;
}


.sec2-icon-top-item1 {
    display: grid;
    grid-template-rows: 1fr 0.5fr 1.5fr;
    row-gap: 1vh;
}

.sec2-first-text {
    color: #1C1F35;
    font-family: Rubik;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sec2-second-text {
    color: #666C89;
    font-family: Krub;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 151.523%;
}

.sec2-icons-img {
    width: 18%;
}

.sec2-icons-img1 {
    width: 22%;
}

.sec2-icons-bottom-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5vw;

}

.sec2-icon-top-item1:hover .sec2-first-text {
    color: #FFB82B;
}


.section2-button {
    background: url(About_page/Background-button-sec1.svg);
    color: #ffffff;
    font-family: Krub;
    font-size: 1.5vh;
    font-style: normal;
    font-weight: 600;
    border: 0;
    width: 17.5rem;
    height: 6vh;
    margin-bottom: 5rem;
    transition:  transform 0.3s ease;
    cursor: pointer;
}

.section2-button:hover{
    transform: scale(1.1);
}


.section3 {
    background: #F4F4F4;
    padding-bottom: 5rem;
}

.total-contents {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.texts-section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

#lefttxt3-section3 {
    color: #000000;
    background: rgba(232, 232, 232, 0.50);
    width: 6vw;
    font-size: 1.5vh;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-left-color: #ffb629;
    color: #1C1F35;
    font-family: Rubik;
    font-weight: 400;
}

#lefttxt4-section3 {
    width: auto;
    font-size: 1.5vw;
    color: #1C1F35;
    font-family: Rubik;
    font-weight: 900;
    font-family: Rubik;
    font-style: normal;
    font-weight: 600;
}


.after-text-sec3 {
    display: flex;
    gap: 5rem;
}

.sec3-rightside-box {
    display: flex;
    flex-direction: column;
}

.left-sec3-image {
    width: 40vw;
}

.sec3-row1 {
    display: flex;
    margin-top: 5rem;
    gap: 2rem;
    align-items: center;
}

.right-sec3-icon {
    width: 2vw;
}

.title-sec3 {
    margin-top: 2rem;
}

.title-text-sec3-right {
    color: #1C1F35;
    font-family: Rubik;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sub-text-sec3-right {
    color: #666C89;
    font-family: Krub;
    width: 20vw;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 151.523%;
}




.section-5 {
    position: relative;
    min-height: 70vh;
    background: #FFF;
}

.testimonial {
    position: absolute;
    top: 0rem;
    left: 25vw;
    width: 5vw;
    margin-top: 5rem;
}

#testimonial-arrow {
    position: absolute;
    top: 0.2vh;
    left: 36.5vw;

}

#testimonial-title {
    color: #000000;
    background: rgba(232, 232, 232, 0.50);
    width: 4.5vw;
    padding: 0.3%;
    font-size: 1.3vh;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-left-color: #ffb629;
    color: #1C1F35;
    font-family: Rubik;
    font-weight: 400;

}

#testimonial-text {
    position: absolute;
    top: 0rem;
    width: 20vw;
    font-size: 3vh;
    color: #1C1F35;
    font-family: Rubik;
    font-weight: 900;
    font-family: Rubik;
    font-style: normal;
    font-weight: 600;

}

.section-5-grid-container {
    position: absolute;
    top: 12rem;
    left: 25vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #d6d6d6;
    height: 40vh;
}

.section-5-grid-left-item {
    padding-left: 5rem;
    display: grid;
    grid-template-rows: repeat(3, 0.4fr);
    width: 19vw;
    background: #F4F4F4;
}

.section-5-user {
    display: grid;
    width: 16vw;
    padding-top: 5rem;
    grid-template-columns: 0.2fr 1.2fr 0.1fr;

}

.circular-image-container {
    width: 7rem;
    height: 7rem;
    overflow: hidden;
    border-radius: 50%;

}

.circular-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}

.user-detail-section5 {

    padding-left: 0.2vw;
}

.user-double-quote-icon {
    width: 3.1vw;

}

.section-5-text {
    width: 16vw;
    text-align: justify;
    padding-top: 1rem;
    margin-left: 0rem;

}

.section-5-stars {
    padding-top: 2rem;
    margin-left: 0rem;

}

.star-section-5 {
    width: 14rem;

}

.section-5-middle-paragraph-text {
    font-size: 1.3rem;
    font-family: Krub;
    font-style: italic;

}

#user-name-section5 {
    font-family: Rubik;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    padding: 0;
    margin-bottom: 0;

}

#user-company-section5 {
    font-family: Krub;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    padding: 0;
    margin-bottom: 0;

}

.section-5-grid-right-item {
    padding-left: 5rem;
    display: grid;
    grid-template-rows: repeat(3, 0.4fr);
    width: 19vw;
    background: #091242;
}

.section-5-middle-paragraph-text-r {
    font-size: 1.3rem;
    font-family: Krub;
    font-style: italic;
    color: #F4F4F4;

}

#user-name-section5-r {
    font-family: Rubik;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    padding: 0;
    color: white;
    margin-bottom: 0;

}

#user-company-section5-r {
    font-family: Krub;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    padding: 0;
    color: white;
    margin-bottom: 0;

}

.count-sec6 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    height: 10vh;
    
}

.count-1-sec6 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#count-number {
    color: #1C1F35;
    text-align: right;
    font-family: Rubik;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: transform 0.3s ease;
}


#count-number:hover{
    transform: scale(1.1);
}

#pattern-count {
    width: 1.5rem;
}

.count-text-id {
    color: #1C1F35;
    font-family: League Spartan;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.horizontal-line-sec6 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2px;
    width: 80vw;
    background: linear-gradient(90deg, rgba(212, 212, 212, 0.00) 0%, #D4D4D4 51.04%, rgba(212, 212, 212, 0.00) 100%);
}

.vertical-line-sec6 {
    height: 20vh;
    width: 2px;
    background: linear-gradient(90deg, rgba(212, 212, 212, 0.00) 0%, #D4D4D4 51.04%, rgba(212, 212, 212, 0.00) 100%);
}

@media screen and (max-width: 768px) {
    .logo {
        flex-direction: column;
        justify-content: center;
    }

    #imglogo {
        width: 50vw;
    }

    #addrsbar {
        width: 90vw;
        padding-left: 0rem;
    }

    #banner {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #homebannerimage {
        width: 100%;
        height: 50vh;
        position: relative;
        background-image: url(Service_page/homeimg.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .navigation {
        background: linear-gradient(90deg,
                rgba(9, 18, 67, 0.2),
                rgba(9, 18, 67, 0.1));
        height: 10vh;
        display: grid;
        grid-template-columns: repeat(0, 1fr);
        column-gap: 20%;
        place-items: center;
        position: absolute;
        top: 15vh;
        width: 100%;
    }


    .navig {
        display: grid;
        grid-template-columns: repeat(5, 0.5fr);
        place-items: center;
        column-gap: 5vw;
        margin-left: 20vw;
    }

    .icon-selected-line {
        border-bottom: solid 1px white;
        height: 10vh;
        width: 10vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #hometext {
        font-size: 2vh;
        color: #ffffff;
        font-weight: 500;
    }

    #abouttext {
        font-size: 2vh;
        color: #ffffff;
        font-weight: 500;
    }

    #servicetext {
        font-size: 2vh;
        color: #ffffff;
        font-weight: 500;
    }


    .line {
        width: 1px;
        height: 2vh;
        background-color: rgba(255, 255, 255, 0.3);
        display: flex;
    }


    #insta,
    #fb,
    #twitter,
    #linked {
        height: 0vh;
        width: 0vw;

    }

    .follow {
        display: grid;
        grid-template-columns: repeat(0, 1fr);
        place-items: center;
        column-gap: 0rem;
        margin-left: 0;
        margin-right: 0vw;
        width: 0;

    }

    #button-demo {
        height: 0vh;
        background: white;
        width: 0vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #request-button {
        font-family: Krub;
        color: #000000;
        font-size: 0vw;
        font-weight: 600;
    }

    #text-in-home {
        position: absolute;
        top: 35vh;
        left: 10vw;
        width: 55vw;
    }

    #text-1 {
        color: #FFFFFF;
        background: rgba(4, 28, 55, 0.50);
        width: 8rem;
        font-size: 1.3rem;
        text-align: center;
        border-style: solid;
        border-width: 3px;
        border-right: 0;
        border-top: 0;
        border-bottom: 0;
        border-left-color: #ffb629;
    }

    #text-2 {
        color: #FFF;
        font-family: Rubik;
        font-size: 8vw;
        font-style: normal;
        font-weight: 700;
        padding-top: 1.5rem;
    }

    .section2 {
        width: 100vw;

        background: #F4F4F4;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-box-section2 {
        width: 60%;
        height: 80%;
        background: #F4F4F4;
    }


    .about-text-section2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 5%;
    }

    #lefttxt3-section2 {
        color: #000000;
        background: rgba(232, 232, 232, 0.50);
        width: 25vw;
        font-size: 1.5vh;
        text-align: center;
        border-style: solid;
        border-width: 3px;
        border-right: 0;
        border-top: 0;
        border-bottom: 0;
        border-left-color: #ffb629;
        color: #1C1F35;
        font-family: Rubik;
        font-weight: 400;
    }

    #lefttxt4-section2 {
        width: auto;
        font-size: 10vw;
        color: #1C1F35;
        font-family: Rubik;
        font-weight: 900;
        font-family: Rubik;
        font-style: normal;
        font-weight: 600;
    }



    .sec2-icons-box {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        padding-bottom: 5%;
        row-gap: 1vh;
        min-height: 150vh;
    }

    .sec2-icons-top-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 12%;
        row-gap: 1vh;
    }


    .sec2-icon-top-item1 {
        display: grid;
        grid-template-rows: 1fr 0.5fr 1.5fr;
        row-gap: 2vh;
    }

    .sec2-first-text {
        color: #1C1F35;
        font-family: Rubik;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .sec2-second-text {
        color: #666C89;
        font-family: Krub;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 151.523%;
    }

    .sec2-icons-img {
        width: 15%;
    }

    .sec2-icons-img1 {
        width: 22%;
    }

    .sec2-icons-bottom-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 12%;
        row-gap: 2vh;
    }

    .section2-button {
        background: url(About_page/Background-button-sec1.svg);
        color: #ffffff;
        font-family: Krub;
        font-size: 1.5vh;
        font-style: normal;
        font-weight: 600;
        border: 0;
        width: 17.5rem;
        height: 6vh;
        margin-top: 8%;
    }







    .section3 {
        background: #F4F4F4;
        padding-bottom: 5rem;
    }

    .total-contents {
        display: flex;
        justify-content: unset;
        flex-direction: column;
        align-items: unset;

    }

    .texts-section3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 5rem;
    }

    #lefttxt3-section3 {
        color: #000000;
        background: rgba(232, 232, 232, 0.50);
        width: 25vw;
        font-size: 1.5vh;
        text-align: center;
        border-style: solid;
        border-width: 3px;
        border-right: 0;
        border-top: 0;
        border-bottom: 0;
        border-left-color: #ffb629;
        color: #1C1F35;
        font-family: Rubik;
        font-weight: 400;
    }

    #lefttxt4-section3 {
        width: auto;
        font-size: 8vw;
        color: #1C1F35;
        font-family: Rubik;
        font-weight: 900;
        font-family: Rubik;
        font-style: normal;
        font-weight: 600;
    }


    .after-text-sec3 {
        display: flex;
        flex-direction: column;
        gap: 0rem;
    }

    .sec3-rightside-box {
        display: flex;
        flex-direction: column;
    }

    .left-sec3-image {
        width: 80vw;
        margin-left: 3rem;
    }

    .sec3-row1 {
        display: flex;
        margin-top: 5rem;
        gap: 2rem;
        align-items: center;
    }

    .right-sec3-icon {
        width: 8vw;
        margin-left: 2rem;
    }

    .title-sec3 {
        margin-top: 0rem;

    }

    .title-text-sec3-right {
        color: #1C1F35;
        font-family: Rubik;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .sub-text-sec3-right {
        color: #666C89;
        font-family: Krub;
        width: auto;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 151.523%;
    }

    .section-5 {
        position: relative;
        min-height: 130vh;
        margin-top: 3rem;
    }

    .testimonial {
        position: absolute;
        top: 0rem;
        left: 10vw;
        width: 25vw;
        background: none;
    }

    #testimonial-arrow {
        position: absolute;
        top: 0.2vh;
        left: 50vw;

    }

    #testimonial-title {
        color: #000000;
        background: rgba(232, 232, 232, 0.50);
        width: 22vw;
        padding: 0.3%;
        font-size: 1.8vh;
        text-align: center;
        border-style: solid;
        border-width: 3px;
        border-right: 0;
        border-top: 0;
        border-bottom: 0;
        border-left-color: #ffb629;
        color: #1C1F35;
        font-family: Rubik;
        font-weight: 400;

    }

    #testimonial-text {
        position: absolute;
        top: 0rem;
        width: 55vw;
        font-size: 3.5vh;
        color: #1C1F35;
        font-family: Rubik;
        font-weight: 900;
        font-family: Rubik;
        font-style: normal;
        font-weight: 600;

    }

    .section-5-grid-container {
        position: absolute;
        top: 12rem;
        left: 12vw;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background: #d6d6d6;
        height: 20vh;
        margin-top: 5rem;
    }

    .section-5-grid-left-item {
        padding-left: 5rem;
        display: grid;
        grid-template-rows: repeat(3, 0.4fr);
        width: 55vw;
        background: #F4F4F4;

    }

    .section-5-user {
        display: grid;
        width: 16vw;
        padding-top: 5rem;
        grid-template-columns: 0.2fr 1.2fr 0.1fr;

    }

    .circular-image-container {
        width: 7rem;
        height: 7rem;
        overflow: hidden;
        border-radius: 50%;

    }

    .circular-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;

    }

    .user-detail-section5 {

        padding-left: 2vw;
    }

    .user-double-quote-icon {
        width: 5vw;

    }

    .section-5-text {
        width: 50vw;
        text-align: justify;
        padding-top: 1rem;
        margin-left: 0rem;

    }

    .section-5-stars {
        padding-top: 2rem;
        margin-left: 0rem;

    }

    .star-section-5 {
        width: 14rem;

    }

    .section-5-middle-paragraph-text {
        font-size: 1.3rem;
        font-family: Krub;
        font-style: italic;

    }

    #user-name-section5 {
        font-family: Rubik;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        padding: 0;
        margin-bottom: 0;

    }

    #user-company-section5 {
        font-family: Krub;
        font-size: 1.1rem;
        font-style: normal;
        font-weight: 500;
        padding: 0;
        margin-bottom: 0;

    }

    .section-5-grid-right-item {
        padding-left: 5rem;
        display: grid;
        grid-template-rows: repeat(3, 0.4fr);
        width: 55vw;
        background: #091242;
    }

    .section-5-middle-paragraph-text-r {
        font-size: 1.3rem;
        font-family: Krub;
        font-style: italic;
        color: #F4F4F4;

    }

    #user-name-section5-r {
        font-family: Rubik;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        padding: 0;
        color: white;
        margin-bottom: 0;

    }

    #user-company-section5-r {
        font-family: Krub;
        font-size: 1.1rem;
        font-style: normal;
        font-weight: 500;
        padding: 0;
        color: white;
        margin-bottom: 0;

    }




    .count-sec6 {
        display: flex;
        justify-content: unset;
        align-items: unset;
        gap: 3.5rem;
        margin-top: 2rem;
        height: 70vh;
        flex-direction: column;
    }
    
    .count-1-sec6 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
    #count-number {
        color: #1C1F35;
        text-align: right;
        font-family: Rubik;
        font-size: 3.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    #pattern-count {
        width: 1.5rem;
    }
    
    .count-text-id {
        color: #1C1F35;
        font-family: League Spartan;
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    
    .horizontal-line-sec6 {
        display: flex;
        margin-left: 4rem;
        justify-content: center;
        align-items: center;
        height: 2px;
        width: 80vw;
        background: linear-gradient(90deg, rgba(212, 212, 212, 0.00) 0%, #D4D4D4 51.04%, rgba(212, 212, 212, 0.00) 100%);
    }
    
    .vertical-line-sec6 {
        height: 0vh;
        width: 0px;
        background: linear-gradient(90deg, rgba(212, 212, 212, 0.00) 0%, #D4D4D4 51.04%, rgba(212, 212, 212, 0.00) 100%);
    }
}